.header
{
		font-weight: bold;
        color:#434549;
        font-family: Verdana,Geneva,sans-serif; 
        font-size:250%;
        text-align:center;
}
        
 .main
 {
        color:#434549;
        font-family: Verdana,Geneva,sans-serif; 
        font-size:120%;
        text-align:center;
 }
 body
{
	   background-image: url("../images/bgg.jpg");
       background-color:#C0C0C0;
       font-family:Verdana,Geneva,sans-serif;
       color:#434549;
       text-align:center;
       font-size:100%;
}
 .img
{
        border-radius:50%;
        border:1px solid #808080;
        padding:10px;
        vertical-align:middle;
 }